html,
body,
#root,
#map {
  height: 100%;
  flex-grow: 1;
}

#map-container {
  height: 100%;
  flex-grow: 1;
  position: relative;
}

#app {
  height: 100%;
  display: flex;
}

/* Failed to load element */
.failed {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #eeeeeeee;
  padding: 8px;
  position: absolute;
  bottom: 50%;
  text-align: center;
  visibility: visible;
  transition: all 0.5s;
  width: 75%;
  border: 1px dotted grey;
}

.failed.hide {
  opacity: 0;
  overflow: auto;
  visibility: hidden;
  transform: translateX(-100px);
}

/**
 *  Locations menu
 */


/* Menu(locations list) */
#locations {
  width: 250px;
  height: 100%;
  position: relative;
}

#locations > h1 {
  margin: 0 8px 0;
}

#locations > hr {
  height: 1px;
  border: none;
  background-color: grey;
}

.location-input {
  margin: 4px;;
  padding: 4px;
  width: 90%;
  border-radius: 4px;
  box-shadow: none;
}

.location-list {
  list-style: none;
  padding: 0;
  margin: 8px;
}

.location-list li {
  padding: 12px;
}

.location-list li:hover {
  background-color: #bdbdbd33;
}

.location-list hr {
  height: 1px;
  border: none;
  background-color: grey;
  opacity: 0.3;
  margin: 0;
}

/* Hamburger menu icon */

.menu-icon {
  background-color: #bdbdbd;
  width: 18px !important;
  height: 36px !important;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 1.5em;
  padding: 8px 4px 8px;
  visibility: visible !important;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 2147483640000000007;
}

/* Marker's info window */
.info-window:focus {
  border: 1px dotted grey;
}